In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
anime = pd.read_csv('archive/anime.csv')
rating = pd.read_csv('archive/rating.csv')

In [3]:
anime.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [11]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [37]:
rating_groupby = rating.groupby('anime_id', as_index=False, sort=False).agg({'user_id':'first', 'rating':'mean'})

       anime_id  user_id     rating
0            20        1   6.571726
1            24        1   6.724172
2            79        1   6.053712
3           226        1   6.753508
4           241        1   5.385646
...         ...      ...        ...
11195     30450    65682   8.000000
11196     33484    69497  10.000000
11197     29481    70463  -1.000000
11198     34412    72404  -1.000000
11199     30738    72800   4.000000

[11200 rows x 3 columns]

In [43]:
df = anime.merge(rating_groupby, on='anime_id')
df.drop('rating_x', inplace=True, axis=1)

In [44]:
df

,anime_id,name,genre,type,episodes,members,user_id,rating_y
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,200630,99,8.297863
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,793665,3,8.028933
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,114262,39,7.956710
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,673572,5,8.126796
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,151266,5,7.711952
...,...,...,...,...,...,...,...,...
11192,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,211,20171,1.500000
11193,5543,Under World,Hentai,OVA,1,183,39532,0.750000
11194,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,219,27364,1.333333
11195,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,175,27364,0.250000
11196,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,142,27364,-1.000000